h1, h2, h3, h4, h5, h6,
button.btn,
a.nav-link,
.navbar-brand
{
  font-family: 'Overlock SC'!important;
}

nav.navbar {
  background-color: #203527;
}

h1, h2, h3, h4, h5, h6,
a[href] {
  color: #27613a;
}

/* Compensate for fixed navbar. */
a.anchor {
  position: relative;
  bottom: 80px;
}